@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Text Me One', sans-serif;
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: #070212;
}

h1 {
    color: #F68E5F;
}
/* Form */
.form {
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 0.35rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  height: fit-content;
}

.data {
    display: none;
}
.data__body {
    height: 100%;
}
.activo{
    display: block;
}
.form__group {
    border-radius: 5px;
    padding: .5rem;
}
label {
    display: block;
    font-weight: bolder;
}
input {
    margin-top: .2rem;
    padding: .3rem;
    font-size: 14px;
    outline-color: #F68E5F;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #F68E5F;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}
.input__msg {
    margin-top: .2rem;
    font-size: 12px;
}
.show {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;

}
.show label {
    font-size: 14px;
    font-weight: 400;
}
.group__avatar {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: .5rem;
}
.avatar__previous {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.avatar__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    box-shadow: 0 0px 20px rgba(0,0,0,0.2);
}
.form__body {
    height: fit-content;
}
.form__footer {
    display: flex;
    flex-direction: row;
    gap:.5rem;
    padding: .5rem;
}
.form__footer button {
    cursor: pointer;
    padding: .5rem;
    background: #070212;
    color: #F68E5F;
    transition: .4s;
    border: none;
}
.form__footer button:hover{
    background: #F68E5F;
    color: white;
}