/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-dic-2021, 23:21:02
    Author     : Manuel Guillén Gallardo
*/

.info__ventana {
    margin: auto auto;
    width: 360px;
    height: fit-content;
    padding: 1rem;
    gap: 1rem;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 20px;
}
.container__info__ventana {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.info__ventana__title {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.info__ventana__body {
    display: flex;
    flex-direction: column;
    height: 150px;
    overflow-y: scroll;
    gap: .2rem;
    font-size: 14px;
    border: 2px solid #dadada;
    padding: .3rem;
}
.info__ventana__body p {
    display: flex;
    flex-direction: column;
}
strong {
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.info__ventana__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
#form__info {
    margin-right: .3rem;
    color: var(--c-info);
}
.close {
    cursor: pointer;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    background: var(--c-primary);
    color: white;
    font-size: 20px;
    font-weight: 500;
}