/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-dic-2021, 11:56:35
    Author     : Manuel Guillén Gallardo
*/

@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
:root{
    --c-primary: #F68E5F;
    --c-secondary: #070212;
    --c-error: #F76C5E;
    --c-info: #F5DD90;
}
* {
    font-family: 'Text Me One', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    list-style: none;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 0.4rem;

}

body::-webkit-scrollbar-track {
    background: black;
    box-shadow: -2px 0 2px rgba(0,0,0,.2);
}

body::-webkit-scrollbar-thumb {
    background: var(--c-primary);
    /* roundness of the scroll thumb */
}
button {
    cursor: pointer;
    border: none;
}
.material-icons {
    cursor: pointer;
}
header, .container__logo, .nav, .container__search, .nav__item__button, .count__products, .btn__menu {
    align-items: center;
    display: flex;
    flex-direction: row;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    height: fit-content;
    background: var(--c-secondary);
    z-index: 1;
    justify-content: space-between;
}
.container__logo {
    width: fit-content;
    margin: 0 10px;
    padding: 10px;
    gap: .5rem;
}
.container__logo button {
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: row;
    background: transparent;
}
.clickbyte__title {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 2px;
    color: var(--c-primary);
}
.halfclick__logo {
    border-radius: 50%;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
    width: 40px;
    border: 2px solid #070212;
}
.container__nav {
    height: 100%;
}
.nav{
    height: 100%;
    width: fit-content;
    justify-content: space-around;
}
/*
.container__search {
    width: 300px;
    justify-content: center;
}
.search {
    width: 100%;
    border: 2px solid var(--c-primary);
    outline-color: transparent;
    background-color: transparent;
    font-weight: bold;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}*/
/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.nav__item {
    height: 100%;
}
.nav__item__button{
    border: none;
    cursor: pointer;
    color: var(--c-primary);
    height: 90px;
    transition: .2s ease;
    justify-content: center;
    width: 90px;
    font-size: 20px;
    font-weight: bolder;
    background: transparent;
}
.btn__usuario {
    display:flex;
    flex-direction: column;
}
.avatar__usuario {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 1px solid white;
}
.opcionesUsuario {
    position: absolute;
    list-style: none;
    color: white;
    display: none;
}
.opcionesUsuario-activo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.btn__opcion__usuario {
    background: #070212;
    color: #F68E5F;
    padding: .2rem 0;
    width: 90px;
}
.btn__opcion__usuario:hover{
    background: #F68E5F;
    color: white;
}
.nav__item__button:hover {
    background: var(--c-primary);
    color: white;
}
.count__products {
    background-color: var(--c-error);
    color: white;
    margin-left: .5rem;
    text-align: center;
    padding: .4rem;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bolder;
    width: 20px;
    height: 20px;
    justify-content: center;
}
main {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    width: 100%;
}
.container__menu {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    background: var(--c-secondary);
    justify-content: center;
    z-index: 0;
}
.btn__menu {
    position: absolute;
    left: 0;
    height: 50px;
    cursor: pointer;
    border: none;
    width: 220px;
    background: var(--c-secondary);
    color: var(--c-primary);
    justify-content: center;
    gap: .2rem;
    font-size: 20px;
    z-index: 1;
}
.btn__menu:hover{
    background: var(--c-primary);
    color: white;
}
.nav__social {
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.fab {
    color: var(--c-primary);
    cursor: pointer;
    font-size: 20px;
}
.fab:hover{
    color: white;
}
.container__video {
    width: 100%;
    height: 100vh;
    background: var(--c-secondary);
    z-index: -2;
}
.container__video__card{
    position: absolute;
    margin: auto auto;
    width: 100%;
    height: 100vh;
    background: transparent;
    z-index: -1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.video__card{
    width: 320px;
    height: 150px;
    background: rgba(0,0,0,0.7);
    margin-right: 200px;
    margin-bottom: 100px;
    padding: 1rem;
    font-size: 20px;
    color: #F68E5F;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 999;
}
.video__card__btn{
    padding: 1rem;
    background: #070212;
    color: #F68E5F;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
}
.container__productos, .container__categorias__relevantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}
.productos__header, .categorias__relevantes__header {
    text-align: center;
    padding: 1rem;
    font-weight: bolder;
}
.productos__header h2, .categorias__relevantes__header h2 {
    font-size: 60px;
    color: var(--c-secondary);
}
.productos__header h2:before, .categorias__relevantes__header h2:before{
    content:"";
    position: absolute; 
    width: 55px;
    height: 10px;
    background: var(--c-primary);
    transform: translateY(75px);
    z-index: -1;
}
.productos__body, .categorias__relevantes__body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    gap: 2rem;
    padding: 2rem;
}
.producto{
    width: 300px;
    height: fit-content;
    transition: all .3s;
    border-radius: 5px;
    border: 3px solid white;
}
.producto:hover{
    border: 3px dashed var(--c-primary);
}
.container__productos__img, .container__categoria__img {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}
.productos__img {
    width: 180px;
    height: 180px;
}
.container__productos__desc, .container__categorias__relevantes__desc {
    padding: .5rem;
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--c-secondary);
}
.container__productos__btn {
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: .5rem;
    height: 105px;
}
.container__productos__btn button,.container__productos__btn span {
    cursor: pointer;
    padding: .5rem;
    border: none;
    height: fit-content;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: bolder;
}
.container__productos__btn span  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.producto__btn {
    background: var(--c-secondary);
    color: var(--c-primary);
    transition: .4s ease-in-out;
    
}
.producto__btn:hover {
    background: var(--c-primary);
    color: white;
}
.categoria{
    cursor: pointer;
    width: 170px;
    height: fit-content;
    transition: all .3s;
    border-radius: 5px;
    border: 3px solid white;
    background: white;
    border: 3px solid white;
    padding: 1rem;
}
.categoria:hover{
    border: 3px dashed var(--c-primary);
}
.categoria__img{
    width: 160px;
}
.btn__vista__producto{
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
}
