/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-dic-2021, 16:57:34
    Author     : Manuel Guillén Gallardo
*/

/*
************************          
MODALES
************************
*/
:root{
    --c-primary: #F68E5F;
    --c-secondary: #070212;
    --c-error: #F76C5E;
    --c-info: #F5DD90;
}
/*********
Mi carrito
*********/
.modal__carrito, .modal__cuentaUsuario{
    position: absolute;
    top: 0;
    right: -370px;
    height: 100vh;
    background-color: white;
    width: 350px;
    box-shadow: -4px 0px 5px rgba(0,0,0,.5);
    transition: .4s ease;
}
.modal__carrito-activo, .modal__cuentaUsuario-activo{
    right: 0;
    display:block;
    height: 100vh;
}
.carrito {
    display: flex;
    flex-direction: column;
}

.carrito__header, .cuentaUsuario__header {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    background: var(--c-primary);
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.carrito__body {
    max-height: 400px;
    border-bottom: 2px solid var(--c-primary);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
}
.carrito__body::-webkit-scrollbar {
    width: 0.4rem;

}

.carrito__body::-webkit-scrollbar-track {
    background: black;
    box-shadow: -2px 0 2px rgba(0,0,0,.2);
}

.carrito__body::-webkit-scrollbar-thumb {
    background: #7B65FF;
    /* roundness of the scroll thumb */
}
.container__producto__carrito {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container__producto__carrito__img {
    width: 30%;
    border-bottom: 1px solid lightgrey;
    padding-top: .5rem;
}
.producto__carrito__img {
    width: 60px;
    height: 60px;
}
.descripcion__producto__carrito {
    width: 70%;
    border-bottom: 1px solid lightgrey;
    padding-top: .5rem;
}

.container__producto__carrito__unidades {
    display: flex;
    flex-direction: column;
}
.producto__carrito__unidades {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3rem;
}
.producto__carrito__unidades .material-icons {
    font-size: 12px;
    border: 1px solid lightgray;
    padding: .1rem;
    transition: .4s;
}
.producto__carrito__unidades .material-icons:hover{
    background: #F68E5F;
    color: white;
}
.carrito__footer {
    margin-top: 1rem;
    height: 70px;
    display: flex;
    flex-direction: column;
}
.container__total__unidades, .container__total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:.2rem 1rem;
}
.acciones__carrito {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
.accion__carrito {
    width: 50%;
    height: 100%;
    border: none;
    cursor: pointer;
    padding: 1rem;
    background: var(--c-secondary);
    color: var(--c-primary);
    transition: .4s;
}
.accion__carrito:hover{
    background: var(--c-primary);
    color: white;
}
/*********
 Login
*********/
.modal__login{
    background: rgba(0, 0, 0, 0.7);
    display: none;
    position: absolute;
    top:0;
    z-index: 1;
    width: 100%;
    height: 100vh;
}
.modal__login-activo{
    display: block;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.login {
    position: absolute;
    width: 40%;
    height: fit-content;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-radius: 10px;
}
.login__header{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background: var(--c-primary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.login__header p {
    color: white;
}
.login__body {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 4rem;
    gap: 1rem;
    background-color: white;
}
.form__group {
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    border: 2px solid var(--c-primary);
    width: 100%;
}
.label {
    background: transparent;
    position: absolute;
    transition: .25s ease-in-out; 
    z-index: 1;
    font-size: 14px;
    font-weight: 600;
}
.label__floating {
    transform: translateY(-20px) scale(.9);
    background: white;
    color: var(--color-title);
    padding: 5px;
    z-index: 1;
}
.inputLogin{
    border: none;
    outline-color: transparent;
    background-color: transparent;
    font-weight: bold;
    width: 100%;
}
.login__footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100px;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*********
  CuentaUsuario
*********/
/*dialog__cuentaUsuario => 256*/
.cuentaUsuario{
    
}
.close__cuentaUsuario{

}
.close__session{

}

/*********
  Menú
*********/
.modal__menu {
    background: white;
    position: absolute;
    left: 0;
    width: 220px;
    height: 300px;
    top: -300px;
    transition: .4s ease;
    overflow-y: scroll;
}
.modal__menu-activo{
    display: block;
    animation: show .4s;
    top: 50px;
    transition: .4s ease;
}
.menu__list {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center; 
}
.modal__menu::-webkit-scrollbar {
    width: 4px;
}

.modal__menu::-webkit-scrollbar-track {
    background: black;
}

.modal__menu::-webkit-scrollbar-thumb {
    background: var(--c-primary);
}
.menu__list button {
    cursor: pointer;
    border: none;
    padding: .5rem;
    text-align: start;
    width: 100%;
    background: #070212;
    color: #F68E5F;
}
.menu__list button:hover{
    background: #F68E5F;
    color: white;
}
@keyframes show{
    from {
        transform: translateY(-110%);
    }
    to {
        transform: translateY(0%);
    }
}