/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-ene-2022, 20:33:04
    Author     : Manuel Guillén Gallardo
*/
.titulo__vista__busqueda {
    margin-top: 4rem;
    padding-left: 1rem; 
}
.container__vista__busqueda {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 500px;
}
.container__parametros__busqueda, .container__resultado__busqueda  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container__productos {
    flex-wrap: wrap;
}
.container__parametros__busqueda {
    margin-top: 1rem;
    width: 300px;
    border: 1px solid #dadada;
}
.container__resultado__busqueda {
    margin-top: 1rem;
    width: 1000px;
    padding: 0;
}
.productos__body {
    display: flex;
    align-items: flex-start;
    padding: 0;
}
.filtro__marcas, .filtro__precios {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .5rem;
    border-bottom: 1px solid #dadada;
}
.filtro__marcas label{
    width: fit-content;
}
.container__range {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}
.range {
    width: 60%;
}
.slider__value {
    background: #F68E5F;
    color: white;
    padding: .2rem;
    width: 30%;
    text-align: center;
}
.producto {
    width: 200px;
}
.container__productos__img img {
    width: 75px;
    height: 75px;
}
.container__productos__btn button,.container__productos__btn span {
    height: 70px;
    width: 90px;
}